<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="1rem grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let book of books">
      <mat-card [routerLink]="['/book/', book._id]">
        <img mat-card-image [src]='"../../assets/images/" + book.genre + ".png"'>
        <mat-card-content>
          <p>{{book.title}} by {{book.author}}</p>
          <p>{{book.genre}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <button mat-mini-fab color="accent" class="add-button" (click)="openAddNewBookDialog()" matTooltip="Új recept">
    <span class="material-icons">
      add_circle
    </span>
  </button>
</div>
