<mat-card>
  <form mat-dialog-content [formGroup]="bookForm" (ngSubmit)="addNewBook(bookForm)" >
    <label>Book title</label>
    <mat-form-field>
      <input  matInput type="text" formControlName="title">
    </mat-form-field>
    <label>Summary</label>
    <mat-form-field appearance="outline">
      <textarea matInput rows="5" type="text" formControlName="summary"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-form-field>
        <label>Genre</label>
        <mat-select formControlName="genre">
          <mat-select-trigger>
            {{bookForm.value.genre ? bookForm.value.genre : ''}}
          </mat-select-trigger>
          <mat-option *ngFor="let genre of genresList" [value]="genre">{{genre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-form-field>
    <label>Country</label>
    <mat-form-field>
      <input  matInput type="text" formControlName="country">
    </mat-form-field>
    <label>Length</label>
    <mat-form-field>
      <input  matInput type="text" formControlName="length">
    </mat-form-field>
    <label>Link</label>
    <mat-form-field>
      <input  matInput type="text" formControlName="link">
    </mat-form-field>
    <button mat-raised-button
    color="accent"
    >Submit</button>
  </form>
</mat-card>

