.del-button {
	position: fixed;
  right: 2rem;
	bottom: 2rem;
}



mat-card-title{
  margin: 1rem;
}

.h{
  margin: 0 2rem;
}

.e{
  margin:2rem 2rem 0;
}

mat-card{
  margin:0;
  padding:0;
  height:100%;
}

img{
  margin:0;
  border-radius: 5px;
  width:100%;
  height:auto;
  object-fit: cover;
}

p{
  max-width: 90ch;
  text-align: justify;
}

mat-list-item{
  height:auto !important;
  margin: 0 0 1rem 0;
}

.data{
  margin:auto;
  max-width:60%;
}
