.del-button {
	position: fixed;
  right: 2rem;
	top: 8rem;
}

.edit-button {
	position: fixed;
  right: 2rem;
	top: 5rem;
}


mat-card-title{
  margin: 1rem;
}

.h{
  margin: 0 2rem 2rem;
}

mat-card{
  margin:0;
  padding:0;
  height:100%;
}

img{
  margin:0;
  border-radius: 5px;
  width:100%;
  height:auto;
  object-fit: cover;
}

p{
  max-width: 90ch;
  text-align: justify;
}

mat-list-item{
  height:auto !important;
  margin: 0 0 1rem 0;
}

.data{
  margin-top: 2rem;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: auto;
  max-width:60%;
}
