<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutAlign="space-evenly stretch"
fxLayoutAlign.xs="start stretch" fxLayout.sm="start stretch">
  <mat-card class="meta" fxFlex="25" fxFlex.xs="80" fxFlex.sm="80">
    <img  mat-card-image [src]='"../../assets/images/"+ book?.genre + ".png"'>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          Genre: {{book?.genre}}
        </mat-list-item>
        <mat-list-item>
          Country: {{book?.country}}
        </mat-list-item>
        <mat-list-item>
          Length: {{book?.length}}
        </mat-list-item>
       </mat-list>
    </mat-card-content>
</mat-card>
<div class="data">
    <mat-card-title class="h">{{book?.title}}</mat-card-title>
    <p>{{book?.summary}}</p>
    <p>Read the story: {{book?.link}}</p>
</div>
    <button routerLink="" mat-mini-fab color="warn" class="del-button" matTooltip="Delete book" (click)="bookService.deleteBook(book._id)" >
      <span class="material-icons">
        delete_outline
      </span>
    </button>
    <button [routerLink] = "['/edit', book._id]" mat-mini-fab color="primary" class="edit-button" matTooltip="Edit book"
>
      <span class="material-icons">
        mode_edit
      </span>
    </button>
</div>
